body {
	--primary-accent: #eff1f5;
	--secondary-accent: #ffffff;
	--tertiary-accent: #aaaaaa;
	--primary-text: black;
	background-color: var(--primary-accent);
	color: black;
}
body.dark {
	--primary-accent: #101319;
	--secondary-accent: #1d232f;
	--tertiary-accent: #bbbbbb;
	--primary-text: #ffffff;
	color: #eee;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	outline: none;
}

button:focus {
	transform: scale(1.05);
}

i {
	color: var(--tertiary-accent);
}

input {
	/* Tell the input to use all the available space */
	flex-grow: 2;
	/* And hide the input's outline, so the form looks like the outline */
	border: none;
	color: var(--primary-text);
	background: var(--secondary-accent);
}

input:focus {
	/* removing the input focus blue box. Put this on the form if you like. */
	outline: none;
	transform: scale(1.05);
}

.passwordInput {
	outline: none;
	padding: 0.5rem;
	display: flex;
	background: var(--secondary-accent);
}

.sliderContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 2rem 1fr;
}

.optionTitle {
	margin: 0;
}

#password {
	flex: 1;
}

#copyPassword {
	position: relative;
}

#darkModeToggle {
	background-color: none;
	border: none;
	outline: none;
	font-size: 0.75rem;
	color: var(--tertiary-accent);
}

@keyframes scale {
	0% {
		transform: translateZ(0) scale(1) rotate(0deg);
	}
	50% {
		transform: translateZ(0) scale(1.1) rotate(10deg);
	}
	100% {
		transform: translateZ(0) scale(1) rotate(0deg);
	}
}

@keyframes rotate360 {
	0% {
		transform: translateZ(0) scale(1) rotate(0deg);
	}
	50% {
		transform: translateZ(0) scale(1.25) rotate(180deg);
	}
	100% {
		transform: translateZ(0) scale(1) rotate(360deg);
	}
}
