/*popup.css1*/

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	outline: none;
}

input {
	/* Tell the input to use all the available space */
	flex-grow: 2;
	/* And hide the input's outline, so the form looks like the outline */
	border: none;
	background: #e3e5e7;
}

input:focus {
	/* removing the input focus blue box. Put this on the form if you like. */
	outline: none;
}

.passwordInput {
	outline: none;
	padding: 0.5rem;
	display: flex;
	background: #e3e5e7;
}

#password {
	flex: 1;
}

#copyPassword {
	position: relative;
}

@keyframes scale {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(1.1) rotate(10deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

@keyframes rotate360 {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(1.25) rotate(180deg);
	}
	100% {
		transform: scale(1) rotate(360deg);
	}
}
