.item-container {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1px solid var(--tertiary-accent);
}

.image-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.value-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 10rem;
}

.action-container {
	display: flex;
	flex-direction: row;
}

.primary-value {
	font-size: 1rem;
	font-weight: bold;
}

.secondary-value {
	font-size: 0.75rem;
}
