.nav-list-container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.side-nav-card {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	justify-content: left;
}

.side-nav-card:hover {
	background-color: #f5f5f5;
}