body {
	--primary-accent: #eff1f5;
	--secondary-accent: #fff;
	--tertiary-accent: #aaa;
	--primary-text: black;

	background-color: var(--primary-accent);
	color: black;
}

body.dark {
	--primary-accent: #101319;
	--secondary-accent: #1d232f;
	--tertiary-accent: #bbb;
	--primary-text: #fff;

	color: #eee;
}

a {
	text-decoration: none;
	color: var(--primary-text);
	outline: none;
	cursor: pointer;
}

.meter-container {
	background-color: var(--tertiary-accent);
	height: 0.25rem;
	margin: 0;
	padding: 0;
}

.meter {
	background-color: red;
	width: 25%;
	height: 100%;
}

button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	outline: none;
	color: var(--primary-text);
}

button:focus {
	transform: scale(1.05);
}

input {
	/* And hide the input's outline, so the form looks like the outline */
	border: none;
	color: var(--primary-text);
}

.search-input {
	outline: none;
	padding: 0.5rem;
	display: flex;
	background: var(--primary-accent);
}

.search-container {
	outline: none;
	padding: 0.5rem;
	display: flex;
	background: var(--primary-accent);
	align-items: center;
	font-size: 1rem;
}

#search-input {
	flex: 1;
}

.nav-container {
	display: flex;
	flex-direction: column;
	color: var(--primary-text);
	font-size: 1rem;
}

.back-container {
	display: flex;
	flex-direction: column;
    color: var(--primary-text);
	font-size: 1.5rem;
}

.back-container > {
	width: 100%;
}

.back-container a {
	display: flex;
    background: var(--secondary-accent);
    border-bottom: var(--primary-accent) 1px solid;
    color: var(--primary-text);
    text-decoration: none;
	outline: none;
    align-items: center;
    padding: 0.5rem;
}

.nav-container a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--secondary-accent);
	padding: 1rem;
	border-bottom: var(--primary-accent) 1px solid;
	color: var(--primary-text);
}

.back-container a:hover {
	background: var(--primary-accent);
}

.nav-container a:hover {
	background: var(--primary-accent);
}

.options-container {
	display: flex;
	align-content: flex-start;
}

svg {
	color: var(--tertiary-accent);
}
