body {
	--primary-accent: #eff1f5;
	--secondary-accent: #fff;
	--tertiary-accent: #aaa;
	--neutral-accent: #000;
	--primary-text: black;
	--secondary-text: #aaa;
	--button-hover: #fff;
	--button-color: #000;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primary-accent);
	color: black;
	margin: 0 auto;
	width: 20rem;
}

body.dark {
	--dark-900: #08090c;
	--dark-800: #101319;
	--dark-700: #1b212c;
	--dark-600: #262f40;
	--brand-secondary-300: #8561c5;
	--brand-secondary-400: #673ab7;
	--brand-secondary-500: #482880;
	--brand-primary-300: #5393ff;
	--brand-primary-400: #2979ff;
	--brand-primary-500: #1c54b2;
	--primary-accent: #101319;
	--secondary-accent: #1d232f;
	--tertiary-accent: #bbb;
	--neutral-accent: #fff;
	--primary-text: #fff;
	--secondary-text: #bbb;
	--button-hover: #101319;
	--button-color: #101319;

	color: #eee;
	margin: 0 auto;
	width: 20rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: var(--primary-text);
	outline: none;
	cursor: pointer;
}

.meter-container {
	background-color: var(--tertiary-accent);
	height: 0.25rem;
	margin: 0;
	padding: 0;
}

.meter {
	--perfect-color: #0f0;
	--great-color: #9dff00;
	--good-color: #fbff00;
	--okay-color: #f90;
	--bad-color: #f00;

	background-color: red;
	width: 35%;
	height: 100%;
}

button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	outline: none;
	color: var(--primary-text);
}

button:focus {
	transform: scale(1.05);
}

input {
	/* And hide the input's outline, so the form looks like the outline */
	border: none;
	flex-grow: 2;
	color: var(--primary-text);
	background: var(--secondary-accent);
}


.password-container {
	outline: none;
	padding: 1rem;
	display: flex;
	background: var(--secondary-accent);
}

.nav-container {
	display: flex;
	flex-direction: column;
	color: var(--primary-text);
	font-size: 1rem;
}

.nav-container a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--secondary-accent);
	padding: 1rem;
	border-bottom: var(--primary-accent) 1px solid;
	color: var(--primary-text);
}

.nav-container a:hover {
	background: var(--primary-accent);
}

.options-container {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 100%;
	padding-bottom: 1rem;
	color: var(--primary-text);
	font-size: 14px;
	background: var(--secondary-accent);
	justify-content: center;
	align-items: center;
}

.options-length-sub {
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 0.5rem;
}

.options-char-sub {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 4rem;
	padding-left: 0.75rem;
	width: 100%;
}

.char-container {
	display: flex;
	flex-direction: column;
}

.char-sub {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	white-space: nowrap;
}

.options-button {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dark-mode-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--secondary-accent);
	padding-left: 1.5rem;
	padding-right: 1rem;
	padding-top: 1.25rem;
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	padding-bottom: 1.25rem;
	border-bottom: var(--primary-accent) 1px solid;
	color: var(--primary-text);
}

.dark-mode-button {
	padding: 0;
}

.dark-mode-container:hover {
	background-color: var(--primary-accent);
}

svg {
	color: var(--tertiary-accent);
}

.svg-button:hover {
	color: var(--secondary-accent);
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: center;
	margin: 0.5rem;
}

.form-container > * {
	margin-bottom: 0.5rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.25rem;
}

.short-input {
	padding: 0.45rem;
	width: 9.25rem;
	color: var(--primary-text);
	outline: none;
	border: 1px solid var(--tertiary-accent);
	border-radius: 2px;
	background-color: var(--primary-accent);
	font-size: 0.8rem;
}

.long-input {
	padding: 0.45rem;
	color: var(--primary-text);
	outline: none;
	border: 1px solid var(--tertiary-accent);
	border-radius: 2px;
	background-color: var(--primary-accent);
	font-size: 0.8rem;
}

textarea {
	background-color: var(--primary-accent);
	color: var(--primary-text);
	outline: none;
	border: 1px solid var(--tertiary-accent);
}


.settings-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.credentials-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.action-container {
	display: flex;
	justify-content: right;
	margin-top: 0.5rem;
}

.cancel-button {
	background-color: var(--secondary-accent);
	color: var(--primary-text);
	margin-right: 0.5rem;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	border-radius: 0.75rem;
	box-shadow: 0 5px 0.5rem #00000040;
}

.submit-button {
	background-color: blueviolet;
	color: #fefefee0;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	border-radius: 0.75rem;
	box-shadow: 0 5px 0.5rem #00000040;
}

.submit-button:hover {
	background-color: purple;
}

.cancel-button:hover {
	background-color: var(--tertiary-accent);
}

.slider-container {
	margin-left: 1rem;
	width: 90%;
	display: grid;
	grid-template-columns: 2rem 2fr;
}

.section-title {
	margin: 0;
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
	padding: 0;
}

.length-title {
	margin: 0;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.char-title {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	padding: 0;
}

.action-filter-container {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.file-upload-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.5rem;
	align-items: center;
}

.file-action-sub {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	margin: 0.5rem;
}

.history-button-container {
	display: flex;
	flex-direction: row;
	justify-content: right;
	padding: 0.5rem;
}

.history-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 1rem;
	margin-left: 1rem;
	align-items: center;
	font-size: 0.75rem;
}

.history-item-password {
	width: 7.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.recent-title {
	font-size: 1rem;
	border-bottom: 2px solid #1c54b2;
	margin: 0.5rem 1.5rem 1.5rem;
}
