body {
	--primary-accent: #eff1f5;
	--secondary-accent: #fff;
	--tertiary-accent: #aaa;
	--primary-text: black;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primary-accent);
	color: black;
	margin: 0 auto;
	width: 20rem;
}

body.dark {
	--primary-accent: #101319;
	--secondary-accent: #1d232f;
	--tertiary-accent: #bbb;
	--primary-text: #fff;

	color: #eee;
	margin: 0 auto;
	width: 20rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
