body {
	--primary-accent: #eff1f5;
	--secondary-accent: #ffffff;
	--tertiary-accent: #aaaaaa;
	--primary-text: black;
	background-color: var(--primary-accent);
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
    margin-bottom: 0;
	width: 20rem;
}
body.dark {
	--primary-accent: #101319;
	--secondary-accent: #1d232f;
	--tertiary-accent: #bbbbbb;
	--primary-text: #ffffff;
	color: #eee;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
    margin-bottom: 0;
	width: 20rem;
}

.backContainer {
	display: flex;
	flex-direction: column;
    color: var(--primary-text);
	font-size: 1rem;
    padding-bottom: 0.5rem;
}

.backContainer > {
	width: 100%;
}

.backContainer a {
	display: flex;
    background: var(--secondary-accent);
    border-bottom: var(--primary-accent) 1px solid;
    color: var(--primary-text);
    text-decoration: none;
	color: var(--primary-text);
	outline: none;
    align-items: center;
    padding: 1rem;
}

.backContainer a:hover {
    background: var(--primary-accent);
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 0.85rem;
    align-items: center;
	color: var(--primary-text);
}

.backContainer i {
    align-items: center;
    margin-right: 0.5rem;
}

button:focus {
	transform: scale(1.05);
}

.password {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    color: var(--primary-text);
	font-size: 14px;
    padding: 1rem;

}

.password > {
	width: 100%;
}

.password a {
	display: flex;
	align-items: center;
    background: var(--secondary-accent);
    border-bottom: var(--primary-accent) 1px solid;
    color: var(--primary-text);
}

.password a:hover {
    background: var(--primary-accent);
}

.options {
    display: flex;
    justify-content: right; 
    justify-self: right;
}